* {
	padding: 0;
	margin: 0;
}

body {
	width: 50%;
	margin-left: 30%;
	margin-top: 4%;
}

.title {
	padding-top: 5%;
	color: cadetblue;
	padding-left: 37%;
}

.address {
	margin-left: 2%;
}

.phNo {
	margin-left: 1%;
}

.email {
	margin-left: 7%;
}

.passWord {
	margin-left: 3%;
}

.confirmPassword {
	margin-right: 9%;
}

.submitBtn {
	margin: 5%;
}

.labelColor {
	color: cadetblue;
}

.firstName,
.lastName,
.address,
.phNo,
.email,
.passWord,
.confirmPassword {
	outline: none;
}

.content {
	padding-right: 10%;
	padding-left: 30%;
}